.DS_Store
.sass-cache

# various bits of config and data that we don't need to keep (or don't want to have too public)
_config
_content
.data
data

# Don't store other peoples' plugins or the uploads
uploads
wp-content/plugins/geo-mashup
wp-content/plugins/slickr-flickr
wp-content/plugins/wp-scss
